@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap: 100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family: 'Arvo', sans-serif;
    background-image: url('sugarloaf.jpg');
    background-size: cover;
    background-position: top center;
}

.whole-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

