@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap: 100,200,300,400,500,600,700');
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
	font-family: 'Arvo', sans-serif;
	background-image: url('sugarloaf.jpg');
	background-size: cover;
	background-position: top center;
}

#whole-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 1.5rem 1.5rem;
}

form input {
	width: 100%;
	max-width: 32rem;
	padding: 1rem 1.5rem;
	border: 0.4rem solid #FFC857;
	outline: none;
	border-radius: 2rem;
	text-align: center;
	color: #656565;
	font-size: 1.8rem;
}

form input:focus::placeholder {
	color: transparent;
}

form button {
 width: 6.6rem;
  padding: 1.5rem;
  background: #89BBFE;
  color: white;
  font-size: 1.7rem;
  border-radius: 50% 50%;
  margin: 0.5rem;
  border: 0.4rem solid #FFC857
}


section {
	color: #0a2239;
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	padding: 2.5rem 2.5rem 5rem;
	align-items: center;
	text-align: center;
}

#area {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 3.2rem;
	text-transform: uppercase;
}

#day {
	font-size: 1.6rem;
	margin-top: 1.2rem;
}

#conditions-now {
	color: #89BBFE;
}

#temperature {
	font-size: 11rem;
	margin-bottom: 1.5rem;
	font-weight: 800;
}

#conditions {
	font-size: 4.8rem;
	margin-top: 2rem;
}

#temperature-difference {
	font-size: 3.2rem;
	margin-top: 2rem;
}

@media (max-width: 270px) {
  header button {
    width: 3.2rem;
  }
}